* {
    box-sizing: border-box;

  }
  
  body {
    font-family: 'Montserrat', sans-serif;
    background-image: url("../pictures/student-background.jpg");
    background-size:contain;
    text-align: center;
    margin: 0;
   }