* {
    box-sizing: border-box;
  }
  
  body {
    font-family: cursive;
    background-image: url("../pictures/student-background.jpg");
    background-size:contain;
    text-align: center;
    margin: 0;
   }